:root {
    /* Base Colors */
    --bg-color: #040342;
    /* Dark Blue */
    --text-color: #ECECEC;
    /* Light Gray */

    /* Navbar styles */
    --navbar-bg: rgba(28, 28, 96, 0.5);
    --navbar-font: 'Share Tech Mono', sans-serif;

    /* Typography */
    --heading1-font: 'Merriweather Sans', sans-serif;
    --heading3-font: 'Merriweather', serif;
    --body-text-font: 'Merriweather', serif;
    --button-font: 'Roboto Mono', monospace;

    /* Additional Colors */
    --secondary-bg: #1C1C60;
    /* Slightly Lighter Blue */
    --secondary-text: #B0B0B0;
    /* Soft Gray */
    --accent-color1: #34B1A7;
    /* Teal */
    --accent-color2: #FF6B6B;
    /* Warm Coral */
    --tertiary-bg: #31317A;
    /* Even Lighter Blue */



    /* Transition */
    --transition-speed: 0.3s;
}








.navbar-3d {
    height: 4.3rem;
    background: var(--navbar-bg);
    backdrop-filter: blur(3px);
    border-bottom: 4px transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 7px 7px;
    text-shadow: 0px 0px 3px rgba(30, 29, 29, 0.2);
}







.navbar-3d .nav-link,
.navbar-3d .navbar-brand {
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    color: var(--text-color);
    font-family: var(--body-text-font);
    /* Using the body text font for nav links */
}








.navbar-3d .nav-link {
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 4px 16px;
    border-radius: 12px;
    margin-right: 30px;
    transform-origin: center;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed), font-size var(--transition-speed);
}









.navbar-3d .nav-link:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 8px var(--accent-color2);
    font-size: 1.4rem;
    color: var(--accent-color2);
}







.navbar-3d .nav-link.active {
    color: var(--text-color) !important;
}







.navbar-3d .navbar-brand {
    font-family: var(--navbar-font);
    font-size: 45px;
    font-weight: 700;
    margin-left: -2px;
    color: var(--accent-color2);
}







.navbar-3d .navbar-brand:hover {
    transform: translateY(-4px);
    color: var(--text-color);
}









.navbar-toggler {
    background: var(--accent-color2);
    font-family: var(--button-font);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}







.navbar-toggler:hover,
.navbar-toggler:active {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px var(--accent-color2);
}







.navbar-toggler:focus {
    outline: none;
}







/* Navbar container styles */
.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    transition: background-color var(--transition-speed);
}









.navbar-3d {
    pointer-events: none;
}







.navbar-container:hover .navbar-3d {
    opacity: 1;
    pointer-events: all;
}







.navbar-tab {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%);
    background: var(--accent-color2);
    color: #fff;
    padding: 5px 15px;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    transition: opacity var(--transition-speed);
}







.navbar-container:not(.hidden-navbar) .navbar-tab {
    display: none;
}