:root {
  /* Base Colors */
  --bg-color: #040342;  /* Dark Blue */
  --text-color: #ECECEC;  /* Light Gray */
  
  /* Navbar styles */
  --navbar-bg: rgba(28, 28, 96, 0.5);
  --navbar-font: 'Share Tech Mono', sans-serif;
  
  /* Typography */
  --heading1-font: 'Merriweather Sans', sans-serif;
  --heading3-font: 'Merriweather', serif;
  --body-text-font: 'Merriweather', serif;
  --button-font: 'Roboto Mono', monospace;
  
  /* Additional Colors */
  --secondary-bg: #1C1C60;  /* Slightly Lighter Blue */
  --secondary-text: #B0B0B0;  /* Soft Gray */
  --accent-color1: #34B1A7;  /* Teal */
  --accent-color2: #FF6B6B;  /* Warm Coral */
  --tertiary-bg: #31317A;  /* Even Lighter Blue */
  --main-color:var(--accent-color2)
  
  /* Transition */
  --transition-speed: 0.3s;
}

body {
  background-color: var(--bg-color);
}


